.navbar {
    overflow: hidden;
    background-color: black;
    box-sizing: border-box;
    height: 70px;
}

.navbar a {
line-height: 40px;
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: bold;
}

.imagen-logo {
    height: 5rem;
    width: 10rem;
}

.contenedor-lista {
    float: left;
    text-align: left;
    margin-right: 600px;
}

button {
    font-weight: bold;
    border-radius: 8px;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    background: #E53144;
}

.imagen {
    height: 15rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.tarjeta {
    background: white;
    height: 20rem;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 15px 5px #000000;
    color: #000000;
}

.raya-negra {
    font-style: bold;   
}

@media screen and (max-width: 1400px) {
    .tarjeta {
        background: white;
        height: 30rem;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 3px 15px 5px #000000;
        color: #000000;
    }
    }

@media screen and (max-width: 800px) {
    .tarjeta {
        background: white;
        height: 42rem;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 3px 15px 5px #000000;
        color: #000000;
    }
    }

@media screen and (max-width: 613px) {
    .tarjeta {
        background: white;
        height: 47rem;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 2px 3px 15px 5px #000000;
        color: #000000;
    }
    }

    .precio {
        font-size: xx-large;
        font-style: bold;
    }